/*
    •--------------------------------•
    |                                |
    |     © 2021 Matthew Perlman     |
    |                                |
    •--------------------------------•
*/

.calculator {
    margin: 0 auto;
    margin-top: 60px;
    width: calc(max(100px + 45vw, 280px));
    height: calc(90px + 5vw);
    border-radius: calc((120px + 7.5vw) * 0.2);
    background-color: rgba(0, 0, 0, 0.15);
    text-align: center;

    .inputBar {
        width: calc(100% - 20px);
        height: calc(30px + 3vw);
        margin: 10px 0;
        text-align: center;
        border-top-left-radius: calc((120px + 7.5vw) * 0.15);
        border-top-right-radius: calc((120px + 7.5vw) * 0.15);
        border-width: 0;
        outline-width: 0;
        font-family: "Titillium Web";
        font-size: calc(15px + 0.6vw);
    }

    .solveButton {
        display: flex;
        width: calc(100% - 20px);
        height: calc(30px + 2vw);
        margin: auto;
        align-items: center;
        justify-content: center;
        border-bottom-left-radius: calc((120px + 7.5vw) * 0.15);
        border-bottom-right-radius: calc((120px + 7.5vw) * 0.15);
        background-color: rgba(0, 0, 0, 0.3);

        .goText {
            font-family: "Titillium Web";
            font-size: calc(15px + 1vw);
            color: white;
        }
    }
}

.solution {
    margin: auto;
    margin-top: 40px;
    width: calc((30vw + 150px));
    text-align: center;

    .error {
        font-family: "Titillium Web";
        font-size: calc((30vw + 150px) * 0.08);
        color: rgb(247, 113, 113);
        text-shadow: 0 0 5px rgb(75, 17, 17);
    }

    .text {
        font-family: "Comfortaa";
        font-size: calc((30vw + 150px) * 0.08);
        color: rgb(216, 216, 216);
        text-shadow: 0 0 5px rgb(27, 17, 75);
    }
}